<template>
  <div class="row recipe-filters">
    <div class="col-sm-12 recipe-filters-result">
      <div class="row recipe-teaser-grid">
        <div class="col-lg-4 col-sm-6 col-xs-12 recipe-teaser-item"
             v-for="recipe in stories">
          <div class="recipe-teaser"
               v-editable="recipe.content">
            <div class="img-wrap">
              <nuxt-link :to="`/${recipe.full_slug}`">
                <img :src="recipe.content.image" alt="" class="img-responsive">
              </nuxt-link>
            </div>
            <div class="content-wrap">
              <h4 class="teaser-title">
                <nuxt-link :to="`/${recipe.full_slug}`">
                  {{ recipe.content.title }}
                </nuxt-link>
              </h4>
              <div class="divider-perforation-grey">
              </div>
              <ul class="tags">
                <li v-for="category in recipe.content.category">
                  <a href="#">{{ category }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return { stories: [] }
  },

  mounted () {
    this.$storyblok.init()
    this.$storyblok.on(['input', 'published', 'change'], (event) => {
      if (event.action == 'input') {
        if (event.story.id === this.story.id) {
          this.story.content = this.$storyblok.addComments(event.story.content, event.story.id)
        }
      } else {
        window.location.reload()
      }
    })
  },

  asyncData (context) {
    // Load all recipes from recipe folder with starts_with
    return context.app.$storyapi.get(`cdn/stories`, {
      version: context.store.state.version,
      cv: context.store.state.cacheVersion,
      is_startpage: '0',
      starts_with: 'rezepte/'
    }).then((res) => {
      return res.data
    }).catch((res) => {
      if (!res.response) {
        console.error(res)
        context.error({ statusCode: 404, message: 'Failed to receive content form api' })
      } else {
        console.error(res.response.data)
        context.error({ statusCode: res.response.status, message: res.response.data })
      }
    })
  },

  beforeRouteLeave (to, from, next) {
    if (typeof window != 'undefined' && window.location != window.parent.location) {
      next(false)
    } else {
      next()
    }
  },

  beforeRouteUpdate (to, from, next) {
    if (typeof window != 'undefined' && window.location != window.parent.location) {
      next(false)
    } else {
      next()
    }
  }
}
</script>
