<template>
  <div v-editable="blok"
       class="teaser-big textblue col-md-6 col-sm-12">
    <div class="row visible-lg visible-md">
      <nuxt-link class="teaser-link t1" :to="`/${blok.link.cached_url}`">
        <div>
          <div class="img-wrap stretched-full">
            <img class="img-responsive" :src="blok.image | resize('800x800')" alt="">
            <div class="text-content col-lg-8 col-lg-pull-8 col-md-8 col-md-pull-8 col-sm-12 col-xs-12">
              <div class="inner">
                <h2 class="teaser-headline">
                  {{ blok.headline }}
                </h2>
                <h3 class="big-headline">
                  {{ blok.big_headline }}
                </h3>
                <div class="button">{{ blok.button_label }}</div>
              </div>
            </div>
          </div>
        </div>
      </nuxt-link>
    </div>
    <div class="row visible-xss visible-xs visible-sm">
      <nuxt-link class="teaser-link" :to="`/${blok.link.cached_url}`">
        <div class="img-content col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-12 col-xs-12">
          <div class="img-wrap text-center stretched-full">
            <img class="img-responsive" :src="blok.image | resize('800x800')" alt="">
          </div>
        </div>
        <div class="text-content col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-12 col-xs-12">
          <div class="inner">
            <h2 class="teaser-headline">
              {{ blok.headline }}
            </h2>
            <h3 class="big-headline">
              {{ blok.big_headline }}
            </h3>
          </div>
          <div class="button">{{ blok.button_label }}</div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok']
}
</script>
