<template>
  <div v-editable="blok">
    <div class="row divider">
      <div class="perforation"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-content text-center">
          <div class="headline-highlight">
            <h2 class="headline-title">{{ blok.headline }}</h2>
            <p class="headline-middle"
               v-html="$options.filters.simpleText(blok.sub_headline)"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row visible-lg visible-md">
      <div class="clever-info flexbox">
        <div class="col-md-4"
             :class="featureColumn(index)"
             v-editable="blok"
             :key="blok._uid"
             v-for="(blok, index) in blok.features">
          <div class="image-wrap">
            <nuxt-link :to="`/${blok.link.cached_url}`"><img class="icon" :src="blok.icon" alt=""></nuxt-link>
          </div>
          <div class="content-wrap text-center">
            <h3 class="headline-middle">{{ blok.headline }}</h3>
            <p>{{ blok.text }}</p>
          </div>
          <nuxt-link :to="`/${blok.link.cached_url}`" class="button">Mehr erfahren</nuxt-link>
        </div>
      </div>
    </div>
    <div class="row visible-sm visible-xs">
      <div class="clever-info-mobile" role="region">
        <div id="clever-info-carousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-indicators" role="presentation" >
            <a data-target="#clever-info-carousel" data-slide-to="0" class="active" tabindex="0" href="#"><span class="sr-only">Zu Eintrag 1 wechseln</span></a>
            <a data-target="#clever-info-carousel" data-slide-to="1" tabindex="0" href="#"><span class="sr-only">Zu Eintrag 2 wechseln</span></a>
            <a data-target="#clever-info-carousel" data-slide-to="2" tabindex="0" href="#"><span class="sr-only">Zu Eintrag 3 wechseln</span></a>
          </div>
          <ol class="carousel-inner">
            <li class="item" :class="mobileFeatureColumn(index)" v-editable="blok" :key="blok._uid" v-for="(blok, index) in blok.features">
              <div class="image-wrap">
                <nuxt-link :to="`/${blok.link.cached_url}`"><img class="icon" :src="blok.icon" alt=""></nuxt-link>
              </div>
              <div class="content-wrap text-center">
                <h3 class="headline-middle">{{ blok.headline }}</h3>
                <p>{{ blok.text }}</p>
                <nuxt-link :to="`/${blok.link.cached_url}`" class="button">Mehr erfahren</nuxt-link>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok'],
  methods: {
    featureColumn(index) {
      if (index == 1) {
        return 'dotted-half-left-right'
      } else if (index == 2) {
        return 'dotted-half-left'
      }
      return 'dotted-half-right'
    },
    mobileFeatureColumn(index) {
      if (index == 0) {
        return 'active'
      }
      return ''
    }
  }
}
</script>
