<template>
  <div id="image-header" class="row hidden-sm hidden-xs hidden-xxs" v-editable="blok">
    <div class="image-header">
      <div class="image-container">
        <img :src="blok.image" alt="">
        <div class="overlay"></div>
        <div class="headline">
          <h1>{{ blok.headline }}</h1>
          <p>{{ blok.sub_headline }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok']
}
</script>
