<template>
  <div v-editable="blok"
       class="teaser-medium col-md-6 col-sm-12 top-teaser"
       :class="blok.style">
    <div class="row">
      <nuxt-link class="teaser-link" :to="`/${blok.link.cached_url}`">
        <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-12 col-xs-12">
          <div class="img-wrap text-center stretched-full">
            <img class="img-responsive" :src="blok.image | resize('800x500')" alt="">
          </div>
        </div>
        <div class="text-content col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-12 col-xs-12">
          <div class="inner">
            <h2 class="teaser-headline">
              {{ blok.headline }}
            </h2>
            <h3 class="headline-middle">
              {{ blok.sub_headline }}
            </h3>
          </div>
          <div class="button">
            {{ blok.button_label }}
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok']
}
</script>
