<template>
  <div class="product-group-teaser-list" v-editable="blok">
    <div class="row">
      <div class="product-group-teaser col-lg-4 col-md-4 col-sm-12"
           v-editable="blok"
           :key="blok._uid"
           v-for="blok in blok.groups">
        <nuxt-link :to="`/${blok.link.cached_url}`">
          <img :src="blok.image" alt="">
          <div class="product-group-name">{{ blok.name }}</div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok']
}
</script>
