<template>
  <div v-editable="blok">
    <div class="row">
      <div class="recipe-header content-page-header">
        <div class="col-lg-7 col-lg-push-5 col-md-7 col-md-push-5 col-sm-12 col-xs-12 recipe-image">
          <div class="img-wrap text-center stretched-full">
            <img class="img-responsive"
                 :src="blok.image" alt="">
          </div>
        </div>
        <div class="col-lg-5 col-lg-pull-7 col-md-5 col-md-pull-7 col-sm-12 col-xs-12 recipe-name">
          <h1 class="main-header">
            {{ blok.title }}
          </h1>
          <div class="divider-perforation-grey">
          </div>
          <ul class="tags">
            <li v-for="category in blok.category">
              <a href="#">{{ category }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="recipe-instructions col-sm-12">
        <div class="row instructions-header">
          <div class="divider-perforation-grey recipe-instructions-header-divider hidden-md hidden-lg col-md-12 "></div>
          <div class="headline col-lg-5 col-md-5"> Zubereitung</div>
        </div>
        <div class="divider-perforation-grey col-lg-12 col-md-12 col-xs-12"></div>
        <div class="instructions-content"
             v-html="markedHowTo">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import marked from 'marked'

export default {
  props: ['blok'],
  computed: {
    markedHowTo() {
      if (typeof this.blok.how_to !== 'undefined') {
        return marked(this.blok.how_to)
      }
      return ''
    }
  }
}
</script>
