<template>
  <div class="container">
    <div id="content-header" class="hidden-sm hidden-xs hidden-xxs" role="banner">
      <div class="content-header row">
        <div class="col-lg-2 col-md-2 smaller-margins">
          <div class="logo">
            <nuxt-link to="/">
              <h1 class="logo-wrap">
                <span class="sr-only">Clever</span>
              </h1>
            </nuxt-link>
          </div>
        </div>
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 hidden-sm hidden-xs hidden-xxs smaller-margins">
          <div class="search">
            <div id="e841dc3f42e3" class="sr-only search-dropdown-heading">
              Choose Search. <span aria-live="polite"></span>
            </div>
            <ul class="search-dropdown-menu" aria-describedby="e841dc3f42e3" role="listbox" style="height:47px;overflow:hidden;" aria-activedescendant="search-topic-all" aria-expanded="false">
              <li>
                <a href="#" id="search-topic-all" aria-selected="true" data-topic-id="" class="clearfix" role="option">
                <span class="dropdown-option-inner">All Topics</span>
                <span class="ci icon-arrow-down" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <a href="#" id="search-topic-prod" data-topic-id="products" role="option">
                <span class="dropdown-option-inner">Products</span>
                <span class="ci icon-arrow-down" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <a href="#" id="search-topic-rec" data-topic-id="recipes" role="option">
                <span class="dropdown-option-inner">Recipies</span>
                <span class="ci icon-arrow-down" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <a href="#" id="search-topic-tipp" data-topic-id="tipps" role="option">
                <span class="dropdown-option-inner">Tips</span>
                <span class="ci icon-arrow-down" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
            <div class="form-inline search-form">
              <div class="form-group">
                <label for="96dccf9e80cc" class="sr-only">Search Term</label>
                <input type="text" class="form-control" id="96dccf9e80cc" name="SearchTerm" placeholder="I search for...">
                <input type="hidden" name="topic" class="search-topic" />
                <button type="submit">
                <span class="sr-only">Seach</span>
                <span class="ci icon-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs hidden-xxs smaller-margins">
          <div class="social-links">
            <span class="social-label">
            Follow us
            </span>
            <ul>
              <li>
                <a href="https://www.facebook.com/cleverkaufen/" target="_blank">
                <span class="sr-only">Facebook</span>
                <span class="ci icon-facebook" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/cleverkaufen/" target="_blank">
                <span class="sr-only">Instagram</span>
                <span class="ci icon-instagram" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/c/cleverkaufenat123" target="_blank">
                <span class="sr-only">Youtube</span>
                <span class="ci icon-youtube" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <a href="/sonderkapitel/footernavigation/whatsapp-rezepte-service" target="_self">
                <span class="sr-only">Whatsapp</span>
                <span class="ci icon-whatsapp" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="content-header-mobile" class="hidden-lg hidden-md row">
      <div class="container-fluid content-header-mobile navbar-header">
        <div class="row" role="banner">
          <div class="col-sm-6 col-xs-6 col-xxs-2">
            <ul style="list-style: none; padding: 20px 0; display: flex;">
              <li :key="index" v-for="(navitem, index) in $store.state.settings.main_navi">
                <nuxt-link class="top-header__link"
                           :to="`/${navitem.link.cached_url}`"
                           v-editable="navitem"
                           style="margin-right: 10px">
                  {{ navitem.name }}
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="logo-mobile">
            <h1 class="logo-wrap">
              <span class="sr-only">Clever</span>
            </h1>
            <img class="logo-print" src="/_nuxt/assets/assets/Img/clever-logo.png" alt="Clever" />
          </div>
          <div class="col-sm-6 col-xs-6 col-xxs-2">
            <ul class="mobile-meta">
              <li>
                <a href="/suche">
                <span class="sr-only">Search</span>
                <span class="ci icon-search" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="content-header-print" role="banner">
      <div class="col-sm-12"><img class="logo-print" src="/_nuxt/assets/assets/Img/clever-logo.png" alt=""/></div>
    </div>
    <div id="navi-wrap" v-editable="$store.state.settings">
      <h2 id="headline-mainnavigation" class="sr-only">Main Navigation</h2>
      <div id="main-navigation" class="hidden-sm hidden-xs hidden-xxs">
        <div class="main-navigation">
          <nav class="row">
            <ul class="toggle-sub col-lg-7 col-md-8">
              <li :key="index" v-for="(navitem, index) in $store.state.settings.main_navi">
                <nuxt-link class="top-header__link"
                           :to="`/${navitem.link.cached_url}`"
                           v-editable="navitem">
                  <i class="ci" :class="navitem.icon" aria-hidden="true" data-fontsize="35"></i>
                  {{ navitem.name }}
                </nuxt-link>
              </li>
              <li aria-hidden="true">
                <div id="about-exit"></div>
              </li>
            </ul>
            <ul class="col-lg-5 col-md-4 main-meta-column">
              <li>
                <a href="#">
                <i class="ci icon-storefinder" aria-hidden="true"></i>
                Store Locator
                </a>
              </li>
              <li class="cart-item">
                <a href="#">
                <i class="ci icon-basket" aria-hidden="true"></i>
                My Cart
                </a>
                <span class="hidden cart-item-count">99</span>
              </li>
            </ul>
          </nav>
          <div class="nav-perforation"></div>
        </div>
      </div>
    </div>
    <main id="content-main">
      <nuxt/>
    </main>
    <footer id="content-footer">
      <h2 id="headline-footer" class="sr-only">Informations and links</h2>
      <nav class="row nav-container">
        <ul class="">
          <li class="hidden-sm hidden-xs hidden-xxs">
            <a href="#" class=""> Win</a>
          </li>
          <li class="hidden-sm hidden-xs hidden-xxs">
            <a href="#" class=""> Newsletter</a>
          </li>
          <li class="hidden-sm hidden-xs hidden-xxs">
            <a href="#" class=""> WhatsApp-Recipies</a>
          </li>
          <li class="">
            <a href="#" class=""> Contact</a>
          </li>
          <li class="footer-perforation-vertical hidden-lg hidden-md"></li>
          <li class="">
            <a href="#" class=""> Imprint</a>
          </li>
        </ul>
      </nav>
      <div class="row info-row">
        <div class="col-sm-6 copyright">
          <div class="visible-lg">&nbsp;</div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12"><b>©Clever.</b> <br /></div>
            <div class="col-sm-12 col-md-12 col-lg-12"></div>
          </div>
        </div>
        <div class="col-sm-6 haficons">
          <div class="visible-lg">&nbsp;</div>
          <div><strong><span style="color:#003865;">clever</span></strong><strong>®</strong> available at:</div>
          <div>
            <a href="https://www.billa.at/Startseite/Startseite/dd_bi_mainpage.aspx" target="_blank">
            <img src="https://assets.cleverleben.at/v1/images/5290240" alt="Billa" class="haficon" />
            </a>
            <a href="http://www.merkurmarkt.at" target="_blank">
            <img src="https://assets.cleverleben.at/v1/images/5290242" alt="Merkurmarkt" class="haficon" />
            </a>
            <a href="http://www.bipa.at" target="_blank">
            <img src="https://assets.cleverleben.at/v1/images/5290241" alt="Bipa" class="haficon" />
            </a>
            <a href="https://www.adeg.at/" target="_blank">
            <img src="https://assets.cleverleben.at/v1/images/5505308" alt="Adeg*" class="haficon" />
            </a>
            <a href="https://www.agm.at" target="_blank">
            <img src="https://assets.cleverleben.at/v1/images/5505306" alt="AGM*" class="haficon" />
            </a>
            <a href="http://www.sutterluety.at" target="_blank">
            <img src="https://assets.cleverleben.at/v1/images/5505325" alt="Sutterl&#252;ty*" class="haficon" />
            </a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<style lang="scss">
@import '../assets/css/vendor.css';
@import '../assets/css/application.css';
</style>
