<template>
  <div>
    <component v-if="story.content.component" :key="story.content._uid" :blok="story.content" :is="story.content.component | dashify"></component>
  </div>
</template>

<script>
const loadData = function({release, api, cacheVersion, errorCallback, version, path}) {
  return api.get(`cdn/stories/${path}`, {
    version: version,
    cv: cacheVersion,
    from_release: release
  }).then((res) => {
    return res.data
  }).catch((res) => {
    if (!res.response) {
      console.error(res)
      errorCallback({ statusCode: 404, message: 'Failed to receive content form api' })
    } else {
      console.error(res.response.data)
      errorCallback({ statusCode: res.response.status, message: res.response.data })
    }
  })
}

export default {
  data () {
    return { story: { content: {} } }
  },

  mounted () {
    this.$storyblok.init()
    this.$storyblok.on(['input', 'published', 'change'], (event) => {
      if (event.action == 'input') {
        if (event.story.id === this.story.id) {
          this.story.content = this.$storyblok.addComments(event.story.content, event.story.id)
        }
      } else {
        window.location.reload()
      }
    })
  },

  asyncData (context) {
    let path = context.route.path == '/' ? 'home' : context.route.path

    // Load the JSON from the API
    return loadData({
      version: context.store.state.version,
      api: context.app.$storyapi,
      cacheVersion: context.store.state.cacheVersion,
      errorCallback: context.error,
      release: context.query._storyblok_release,
      path: path
    })
  },

  beforeRouteLeave (to, from, next) {
    if (typeof window != 'undefined' && window.location != window.parent.location) {
      next(false)
    } else {
      next()
    }
  },

  beforeRouteUpdate (to, from, next) {
    if (typeof window != 'undefined' && window.location != window.parent.location) {
      next(false)
    } else {
      next()
    }
  }
}
</script>
