@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?66329816');
  src: url('../font/fontello.eot?66329816#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?66329816') format('woff2'),
       url('../font/fontello.woff?66329816') format('woff'),
       url('../font/fontello.ttf?66329816') format('truetype'),
       url('../font/fontello.svg?66329816#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66329816#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-paperclip:before { content: '\e800'; } /* 'î €' */
.icon-close:before { content: '\e801'; } /* 'î ' */
.icon-tick:before { content: '\e802'; } /* 'î ‚' */
.icon-help:before { content: '\e803'; } /* 'î ƒ' */
.icon-billa-logo:before { content: '\e804'; } /* 'î „' */
.icon-bipa-logo:before { content: '\e805'; } /* 'î …' */
.icon-cart:before { content: '\e806'; } /* 'î †' */
.icon-burger-menu:before { content: '\e807'; } /* 'î ‡' */
.icon-minus:before { content: '\e808'; } /* 'î ˆ' */
.icon-products:before { content: '\e809'; } /* 'î ‰' */
.icon-chef-hat:before { content: '\e80a'; } /* 'î Š' */
.icon-tipps:before { content: '\e80b'; } /* 'î ‹' */
.icon-about:before { content: '\e80c'; } /* 'î Œ' */
.icon-prize-draw:before { content: '\e80d'; } /* 'î ' */
.icon-storefinder:before { content: '\e80e'; } /* 'î Ž' */
.icon-basket:before { content: '\e80f'; } /* 'î ' */
.icon-chef-hat-outline:before { content: '\e810'; } /* 'î ' */
.icon-gift:before { content: '\e811'; } /* 'î ‘' */
.icon-benefit:before { content: '\e812'; } /* 'î ’' */
.icon-pause:before { content: '\e813'; } /* 'î “' */
.icon-curved-arrow:before { content: '\e814'; } /* 'î ”' */
.icon-arrow-up:before { content: '\e815'; } /* 'î •' */
.icon-arrow-right:before { content: '\e816'; } /* 'î –' */
.icon-arrow-down:before { content: '\e817'; } /* 'î —' */
.icon-play:before { content: '\e818'; } /* 'î ˜' */
.icon-play-circle:before { content: '\e819'; } /* 'î ™' */
.icon-plus:before { content: '\e81a'; } /* 'î š' */
.icon-print:before { content: '\e81b'; } /* 'î ›' */
.icon-chef-hat2:before { content: '\e81c'; } /* 'î œ' */
.icon-clock:before { content: '\e81d'; } /* 'î ' */
.icon-dot-large:before { content: '\e81e'; } /* 'î ž' */
.icon-dot-small:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-share:before { content: '\e821'; } /* 'î ¡' */
.icon-facebook:before { content: '\e822'; } /* 'î ¢' */
.icon-instagram:before { content: '\e823'; } /* 'î £' */
.icon-youtube:before { content: '\e824'; } /* 'î ¤' */
.icon-whatsapp:before { content: '\e825'; } /* 'î ¥' */
.icon-merkur-logo:before { content: '\e826'; } /* 'î ¦' */
.icon-search:before { content: '\e827'; } /* 'î §' */